<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="Connection" connectionString="Data Source=ASHIDA-PC\SQLEXPRESS;Initial Catalog=INDIAN;Integrated Security=true" />
    <add name="MasterConnection" connectionString=" Data Source=ASHIDA-PC\SQLEXPRESS;Initial Catalog=master;Integrated Security=true;" />
    <add name="BisCarePosEdition.Properties.Settings.dbBizcarePosConnectionString"
      connectionString="Data Source=ASHIDA-PC\SQLEXPRESS;Initial Catalog=INDIAN;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="BisCarePosEdition.Properties.Settings.dbBizcarePosConnectionString1"
      connectionString="Data Source=ASHIDA-PC\SQLEXPRESS;Initial Catalog=INDIAN;Integrated Security=True"
      providerName="System.Data.SqlClient" />


	  <add name="OnlineConnection" connectionString="Data Source=QbicsDetails.db.11610910.607.hostedresource.net; Initial Catalog=QbicsDetails; User ID=QbicsDetails; Password=Qbics123!" />

  </connectionStrings>
</configuration>
